<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset="UTF-8"/>
		<title>404</title>
		<link rel="stylesheet" type="text/css" href="../css/proiect.css"/>
	</head>
	<body>
		<h1>Eroare 404</h1>
		<p>Wrong place, buddy:) .</p>
	</body>
</html>