<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="img/fitness-favicon.ico"/>
	<meta name="author" content="Vultur Cristina">
    <meta name="keywords" content="Gain,gain muscle,lean,mass,build,muscle-building,Inside the Gym,Outside the gym">
    <meta name="description" content="Here are some helpful tips to help you gain lean muscle mass, with minimal fat gain">
	<link rel="stylesheet" type="text/css" href="css/proiect.css"/>
	<link rel="stylesheet" type="text/css" href="css/gain.css"/>
	<title>The sweat life | Gain Muscle</title>
</head>

<body>
	<%- include("../fragmente/top_button") %>
	<header>
		<%- include("../fragmente/header") %>
	</header>
<main>
	<div class="row">
		<section class="side">
			<h2>Tips to Help You Gain Muscle In and Out of the Gym:</h2>
			<p>Looking to gain a little bit of mass? These muscle-building tips will help you look and feel stronger, stat.</p>
			<p>Not everyone is looking to lose weight. In fact, gaining weight in the form of muscle can be seriously beneficial. For one, it can help you feel stronger, stat. But strengthening certain power muscle groups (think: your glutes) can also improve your performance in the gym and make everyday tasks during day-to-day life easier.</p>
			<img src="img/b31f992db54579674e896574fa85e97d.jpg" alt="drawing of a girl lifting weights" title="weightlifting girl">
		</section>
		<div class="main">
			<section class="container" id="gm">			
					<h2>Inside the Gym</h2>
							<section>
								<h3>1. Do compound strength exercises.</h3>
								<p>Strength training is a huge factor when it comes to how to gain muscle mass. But not every move is created equal. Jaclyn Sklaver, a functional sports nutritionist and trainer based in New York favors compound movements (think: total-body exercises). They burn more calories. "Full-body workouts are ideal for maximum muscle growth," she says. "The more a body part is used, the more hypertrophy that occurs."</p>
								<p>Focus on working the largest muscle groups in your body: your glutes, quads, and hamstrings. Exercises include squats, lunges, deadlifts, cleans, burpees, walking lunges, and plyometric moves like jump squats and box jumps with or without weights. </p>
								<p>And PS: Don’t be afraid to lift heavy. You can start small and build up. If you’re doing eight to 10 reps of any move comfortably, for example, increase your weight. For bodyweight moves? Simply do more reps (if you can—some bodyweight exercises are challenging enough!).</p>
								<h3>2.Up your rep speed.</h3>
								<p> Completing your reps faster (without sacrificing form) puts more stress on the body. Aim for one rep every two seconds.</p>
								<h3>3.Stick to low-impact, light cardio.</h3>
								<p>Cardio gets your blood flowing so that your muscles are receiving more oxygen, which promotes muscle growth. But you don’t need much of it. A good plan? Stick to is strength training three times a week and one day of light, low-impact cardio. Think about a long-distance runner's body (very lean) compared to a sprinter's body (more muscular). Also, don't do cardio before your strength training session if you do choose to do them on the same day. This will likely fatigue your muscles and you could sacrifice form and increase risk of injury. </p>
							</section>
						<h2>Outside the gym</h2>
							<section>
								<h3>1. Keep tabs on what (and when) you eat.</h3>
								<p>"Muscle requires the right amount of nutrients to grow. That includes protein, carbs, and fat," says Lisa Avellino, director of fitness at NY Health & Wellness. And keeping a food diary can minimize guesswork and measure your results.</p>
								<p>You want to focus on protein, too. <q>Complete proteins are any lean animal source, dairy, eggs, fish, and some protein powders.</q> says Sklaver. For vegetarians, opt for quinoa, buckwheat, or soybeans, or combine nuts with whole grains to make a complete protein.</p>
								<p>Water matters, too! Aim to drink half of your body weight in ounces of water daily so that your muscles stay full and saturated.</p>
								<p>Eating more carbohydrates at breakfast and immediately after your workout can help maximize muscle recovery (carbs are super important for your workouts), as well. Your body has a short window post-workout to restore, so try for a liquid carbohydrate and protein drink to help replenish glycogen stores. This can help with muscle recovery, increase lean muscle gains, and increase human growth hormone levels.</p>
								<h3>2. Sleep!</h3>
								<p>Your bed is where the magic *really* happens (in fact, it could be the absolute best thing you can do for a better body). After a workout, your muscles use the nutrients and water you've ingested during the day and will work during your sleep to build and grow your muscles.</p>
								<p>According to Avellino, our human growth hormone levels are highest when we are asleep. <q>Many studies suggest an association between a lack of sleep and high cortisol levels,</q> she explains. <q>Cortisol is a catabolic hormone that is linked with stress and can break down muscle tissue.</q> So don't skimp on shuteye.</p>
							</section>				
			</section>
		</div>	
	</div>
</main>
	<footer>
		<%- include("../fragmente/footer") %>
	</footer>
</body>
</html>
