<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pagina principala</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="img/fitness-favicon.ico"/>
	<meta name="author" content="Vultur Cristina">
    <meta name="keywords" content="Contact,Phone number,Message,Email,Name,Send">
    <meta name="description" content="Do you have anything you want to ask us?Go away.Here is a contact form to fill out.">
	<link rel="stylesheet" type="text/css" href="css/proiect.css"/>
	<title>The sweat life | Contact</title>
</head>
<body>

<header>
    <%- include("../fragmente/header") %>
</header>

<main>
	
    <p id="logout">You logged out!</p>
	
</main>

<footer>
    <%- include("../fragmente/footer") %>
</footer>
</body>

</html>