<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="img/fitness-favicon.ico"/>
	<meta name="author" content="Vultur Cristina">
    <meta name="keywords" content="recepies,food, protein,carbs,chicken,eggs,meat,carbs,vegetables">
    <meta name="description" content="The hardest part when starting a healthy lifestyle is the food. Here are some sartup foods and recepies that you can do.">
	<link rel="stylesheet" type="text/css" href="css/proiect.css"/>
	<link rel="stylesheet" type="text/css" href="css/recepies.css"/>
	<link rel="stylesheet" type="text/css" href="css/workouts.css"/>
	<title>The sweat life | Recepies</title>
</head>

<body>
	<%- include("../fragmente/top_button") %>
	
	<header>
		<%- include("../fragmente/header") %>
	</header>
		
<main class="row">
	
		<section class="side">
			<h2>Choose meal:</h2>
					<nav>
						<ol>
							<li><a href="#list">Grocery list</a></li>
							<li><a href="#breakfast">My go to breakfast</a></li>
							<li><a href="#lunch">My go to lunch </a></li>
							<li><a href="#dinner">My go to dinner</a></li>		
						</ol>
					</nav>
		</section>
		<div class="main">
			<section class="container">				
					<h2 class="page-title">Food</h2>
					<p>Food plays the most important role in your fitness jurney.Your progress will be determined my the way you eat.You know what they say :"Abs are made in the kitchen not the gym"</p>
					<section>
						<h3 id="list">Grocery Shopping List:</h3>
						<section class="grlist">
							<h4>Protein:</h4>
								<ul>
									<li>Lean ground beef </li>
									<li>Turkey breast </li>
									<li>Ground turkey </li>
									<li>NY strip </li>
									<li>Sirloin steak </li>
									<li>Chicken  </li>
									<li>Salmon</li>
									<li>Tuna</li>
									<li>Cod</li>
									<li>Greek Yogurt</li>
								</ul>
						</section>
					
						<section id="dif1" class="grlist">
						<h4>Vegetables:</h4>
								<ul>
									<li>Lean ground beef </li>
									<li>Turkey breast </li>
									<li>Ground turkey </li>
									<li>NY strip </li>
									<li>Sirloin steak </li>
									<li>Chicken  </li>
									<li>Salmon</li>
									<li>Tuna</li>
									<li>Cod</li>
									<li>Greek Yogurt</li>
								</ul>
						</section>
						<section class="grlist">
						<h4>Carbs:</h4>
								<ul>
									<li>Lean ground beef </li>
									<li>Turkey breast </li>
									<li>Ground turkey </li>
									<li>NY strip </li>
									<li>Sirloin steak </li>
									<li>Chicken  </li>
									<li>Salmon</li>
									<li>Tuna</li>
									<li>Cod</li>
								</ul>
						</section>
					</section>
					<div class="wk" id="breakfast">
						
						<img src="img/breakfast.jpg" alt="healty and easy breakfast recepies" title="breakfast">
					</div>
					<div class="wk" id="lunch">
						
						<img src="img/lunch.jpg" alt="healty and easy lunch recepies" title="lunch">
					</div>
					<div class="wk" id="dinner">
						
						<img src="img/dinner.jpg" alt="healty and easy dinner recepies" title="dinner">
					</div>
					
					
			</section>	
		</div>
		
</main>
<footer>
		<%- include("../fragmente/footer") %>
</footer>
</body>
</html>
